<ion-view view-title="Hotdog - No Hotdog App">
  <ion-content>
    <!--<div class="row">
      <div class="col">
        <div ng-click="takePhoto()" class="button button-full">
          <i class="icon ion-camera"></i> Take Photo
        </div>
      </div>
      <div class="col">
        <div class="button button-full button-stable">
          <i class="icon ion-image"></i> From Gallery
        </div>
      </div>
  </div>-->
  <br>
    <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">

    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{imageSrc}}" />
      </div>

      <div ng-click="uploadFile()" class="button button-royal" href="#">
        Send
      </div>
    </div>
    <a ng-show="response=='object'" class="item item-icon-left balanced" href="#">
        <i class="icon ion-checkmark"></i>
        Is a {{response}}
    </a>

    <a ng-show="response=='noobject'" class="item item-icon-left assertive" href="#">
        <i class="icon ion-close"></i>
        Is a {{response}}
    </a>
    </div>
  </ion-content>
</ion-view>
