<ion-view view-title="Hotdog - No Hotdog App">
  <ion-content>
    <div class="row">
      <div class="col">
        <div ng-click="takePhoto()" class="button button-full">
          <i class="icon ion-camera"></i> Take Photo
        </div>
      </div>
      <div class="col">
        <div class="button button-full button-stable">
          <i class="icon ion-image"></i> From Gallery
        </div>
      </div>
    </div>
    <input type='file' file-model='img_file'>

    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{img_file}}">
      </div>
      <div ng-click="uploadFile()" class="button button-royal" href="#">
        Send
      </div>
    </div>
    <a ng-show="response!=''" class="item item-icon-left balanced" href="#">
        <i class="icon ion-checkmark"></i>
        Is a {{response}}
        </a>
    </div>
  </ion-content>
</ion-view>
